.env
*.tmp
*.bak
*.swp
*.orig
Thumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes
*~

app/source/*

!volumes
volumes/*
!volumes/discourse
volumes/discourse/*
!volumes/nginx
volumes/nginx/*
!volumes/postgres
volumes/postgres/*
!volumes/redis
volumes/redis/*

!volumes/discourse/plugins
volumes/discourse/plugins/*
!volumes/discourse/plugins/.gitkeep

!volumes/discourse/public
volumes/discourse/public/*
!volumes/discourse/public/assets
volumes/discourse/public/assets/*
!volumes/discourse/public/assets/.gitkeep

!volumes/discourse/tmp
volumes/discourse/tmp/*
!volumes/discourse/tmp/run
volumes/discourse/tmp/run/*
!volumes/discourse/tmp/run/.gitkeep

!volumes/nginx/conf.d
volumes/nginx/conf.d/*
!volumes/nginx/conf.d/discourse.example.conf
!volumes/nginx/nginx.example.conf

!volumes/postgres/data
volumes/postgres/data/*
!volumes/postgres/data/.gitkeep

!volumes/redis/.gitkeep
