!.keep
/app/source/*
!/volumes/

/volumes/*
!/volumes/nginx
/volumes/nginx/**/*.conf

!/volumes/discourse/**/.keep
!/volumes/discourse/**/**/.keep
.env

*.tmp
*.bak
*.swp
*.orig
Thumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes
*~