.env
*.tmp
*.bak
*.swp
*.orig
Thumbs.db
Desktop.ini
.DS_Store
._*
.Spotlight-V100
.Trashes
*~

app/source/*

!volumes
volumes/*
!volumes/discourse
volumes/discourse/*

!volumes/discourse/plugins
volumes/discourse/plugins/*
!volumes/discourse/plugins/.gitkeep

!volumes/discourse/public
volumes/discourse/public/*
!volumes/discourse/public/assets
volumes/discourse/public/assets/*
!volumes/discourse/public/assets/.gitkeep

!volumes/discourse/tmp
volumes/discourse/tmp/*
!volumes/discourse/tmp/run
volumes/discourse/tmp/run/*
!volumes/discourse/tmp/run/.gitkeep

!volumes/nginx
volumes/nginx/*
!volumes/nginx/nginx.conf.example
!volumes/nginx/conf.d
volumes/nginx/conf.d/*
!volumes/nginx/conf.d/discourse.conf.example
