RAILS_ENV=production

DISCOURSE_VERSION=1.7.1
GEM_SOURCE=https://mirrors.tuna.tsinghua.edu.cn/rubygems/

UNICORN_PORT=3000
POSTGRES_USER=discourse
POSTGRES_PASSWORD=discourse

DISCOURSE_REDIS_HOST=redis
DISCOURSE_REDIS_PORT=6379
DISCOURSE_DB_HOST=db
DISCOURSE_DB_PORT=5432
DISCOURSE_DB_USERNAME=discourse
DISCOURSE_DB_PASSWORD=discourse
DISCOURSE_DB_NAME=discourse
DISCOURSE_SMTP_HOST=mail
DISCOURSE_SMTP_ADDRESS=mail
DISCOURSE_SMTP_PORT=1025
